<% title "Edit Article" %>

<%= form_for @article do |f| %>
  <%= f.error_messages %>
  <div class='form-group'>
    <%= f.label :title %><br />
    <%= f.text_field :title , :class => 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :author %><br />
    <%= f.text_field :author, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :markdown %><br />
    <%= f.text_area :markdown, :class => 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :written_at %><br />
    <%= f.datetime_select :written_at %>
  </div>
  <p><%= f.submit 'Update', :class => 'btn btn-primary' %></p>
<% end %>


<p><%= link_to "Back to List", articles_path %></p>
