<%= form_for @athlete do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>

  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>


  <p><%= f.submit %></p>
<% end %>
