<% title "BGO - Athlete - #{@athlete.full_name}" %>


<div class="col-md-9">
	<div class="jumbotron">
		<h3><%= @athlete.first_name %> <%= @athlete.last_name %></h3>
		<%= image_tag @athlete.image_url(:medium).to_s, :class => "img-rounded pull-right" %>
		<%= markdown(@athlete.profile) if @athlete.profile %>
	</div>
</div>

<div class="col-md-3">
	<%= render 'tale_of_the_tape' %>
	<%= render 'career_highlights' %>
</div>

