<% title "Athlete" %>

<div class="jumbotron">
	<%= markdown(@athlete.profile) if @athlete.profile %>
</div>

<%= image_tag @athlete.image_url.to_s, :class => "img-rounded" %>
<%= image_tag @athlete.image_url(:thumb).to_s, :class => "img-rounded" %>

<p>
  <%= link_to "Edit", edit_athlete_path(@athlete) %> |
  <%= link_to "Destroy", @athlete, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", athletes_path %>
</p>
