<%= form_for @photo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :gallery_id %><br />
    <%= f.number_field :gallery_id %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :remote_image_url, "or image URL" %><br/>
    <%= f.text_field :remote_image_url %>
  </p>


  <p><%= f.submit %></p>
<% end %>
