<%= javascript_include_tag 'galleria-1.4.2' %>
<%= javascript_include_tag 'galleria.twelve.min' %>
<%= javascript_include_tag 'galleries' %>

<% title "Gallery" %>

<p>
  <strong>Gallery Name:</strong>
  <%= @gallery.name %>
</p>

<div class="galleria">
</div>

<script>

	var galleria_data = [

		<% @photos.each do |photo| %>

			{
				image: '<%= raw photo.image_url.to_s %>',
				title: '<%= photo.name %>'			
			} <%= "," unless photo == @photos.last %>

		<% end %>

	]

</script>
