<% title "Gallery" %>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

	<div class="row">
		<ul class="pager">
			<li class="previous"><%= link_to_previous_page @photos, '&larr; back'.html_safe %></li>
			<li class="next"><%= link_to_next_page @photos, 'next &rarr;'.html_safe %></li>
		</ul>
		<%= page_entries_info @photos %>
		<br/><br/>
	</div>
<div id="gallery">
	<% @photos.in_groups_of(4,false) do |photos| %>

		<div class="row">
			<% photos.each do |photo| %>
				<% @photo = photo %>
				<%= render 'photo_thumbnail' %>
			<% end %>
		</div>
		<br/>

	<% end %>


</div>

