<%= javascript_include_tag 'galleries' %>
<%= javascript_include_tag 'galleria-1.4.2.min' %>

<% title "Gallery" %>

<p>
  <strong>Gallery Name:</strong>
  <%= @gallery.name %>
</p>


<div class="galleria">
</div>


<script>

	var galleria_data = [

		<% @photos.each do |photo| %>

			{
				image: '<%= raw photo.image_url.to_s %>',
				title: '<%= photo.name %>'			
			} <%= "," unless photo == @photos.last %>

		<% end %>

	]

	Galleria.loadTheme("<%= javascript_path('galleria/themes/twelve/galleria.twelve.min.js') %>");
	Galleria.run('.galleria', {
		dataSource: galleria_data,
		imageCrop: false,
		transition: 'fade',
		fullscreenCrop: false,
		fullscreenTransition: 'fade'
	});

</script>
