<% title "BAR GAME OLYMPICS - BGO" %>

<%= javascript_include_tag 'jbclock' %>

        <script type="text/javascript">
            $(document).ready(function(){
                JBCountDown({
                    secondsColor : "#ffdc50",
                    secondsGlow  : "none",

                    minutesColor : "#9cdb7d",
                    minutesGlow  : "none",
                    
                    hoursColor   : "#378cff",
                    hoursGlow    : "none",
                    
                    daysColor    : "#ff6565",
                    daysGlow     : "none",
                    
                    startDate   : Date.parse("14/Feb/2015 23:00:00")/1000,
                    endDate     : Date.parse("15/Feb/2016 18:00:00")/1000,
                    now         : (new Date) / 1000
                });
            });
        </script>

<div class="row">

  <div class="col-md-3">

          <div class="panel panel-default">
            <div class="panel-heading">MIXOLOGY</div>
            <div class="panel-body">
                <p><a href="http://www.13thstreetcocktails.com">13th Street Cocktails</a> are the official mixologists of the BGO!</p>
            </div>
        </div>

    <div class="thumbnail">
        <%= image_tag @photo.image_url(:fill).to_s, :class => "img-rounded" %>
        <div class="caption">
          <h4><%= @photo.name %></h4>
        </div>
    </div>

    <small><i>
    "The practice of bar sports is a human right. Every adult must have the possibility of drinking alcohol and practicing bar sports, without discrimination of any kind and in the Bar Game Olympic spirit, which requires mutual understanding with a spirit of drunken friendship, solidarity and fair play." –Bar Game Olympic Charter
    </i></small>

  </div>


	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">NEWS</div>
            <div class="panel-body">

                <h3>Less than TWO Weeks to Go!</h3>
                <p>
                    BGO 9 is just around the corner!
                </p>
                <p>
                    This year's event promises one best year.  Featuring a field of 12 top
                    returning athletes, no rookies, competition will be fierce!
                </p>

                <h3>Miss BGO 2015</h3>
                <p>
                    We're pleased to introduce Miss BGO 2015 - BECKY!
                    <br/><br/>
                    <%= image_tag 'becky.jpeg', :class=>'img-thumbnail' %>
                </p>

    			<h3>Site Under Construction</h3>
    			<p>
    				Our website is in the middle of a <em>major</em> reconstruction!  During the transition,
                    some items from the old site will be unavailable.  Don't worry, they'll be back soon!
                    In the meantime, make sure to mark your calendars for BGO 9 -- February 13-14, 2015 -- it'll be here before you know it!  Check here often and subscribe to
    				the Twitter feed to stay informed!
    			</p>

            </div>
        </div>
    </div>


	<div class="col-md-3">
        <%= render 'polls/random_poll' %>
		<a class="twitter-timeline" href="https://twitter.com/bargameolympics" data-widget-id="376448960027574273">Tweets by @bargameolympics</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

<%= render 'countdown_clock' %>


