<%= javascript_include_tag 'polls' %>

<% title "BAR GAME OLYMPICS - BGO" %>

<div class="row">

  <div class="col-md-3">

          <div class="panel panel-default">
            <div class="panel-heading">MIXOLOGY</div>
            <div class="panel-body">
                <p><a href="http://www.13thstreetcocktails.com">13th Street Cocktails</a> are the official mixologists of the BGO!</p>
            </div>
        </div>

    <div class="thumbnail">
        <%= image_tag @photo.image_url(:fill).to_s, :class => "img-rounded" %>
        <div class="caption">
          <h4><%= @photo.name %></h4>
        </div>
    </div>

    <small><i>
    "The practice of bar sports is a human right. Every adult must have the possibility of drinking alcohol and practicing bar sports, without discrimination of any kind and in the Bar Game Olympic spirit, which requires mutual understanding with a spirit of drunken friendship, solidarity and fair play." –Bar Game Olympic Charter
    </i></small>

  </div>


	<div class="col-md-6">
        <h4>BGO 11 - The Second Decade</h4>
        <%= render 'countdown_clock' %>
        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">MISS BGO</div>
            <div class="panel-body">
                <div class="col-md-8">
                    <p>We are delighted to introduce Ms. BGO X, Katie Augustin!</p>
                    <p>Katie will be with us Saturday night to distribute food
                    and drinks, award medals, mingle and generally make sure everyone is
                    having a great time!</p>
                    <p>Please welcome her to the BGO family!</p>
                </div>
                <div class="col-md-2">
                    <%= image_tag('miss_bgo_x.png') %>   
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">NEWS</div>
            <div class="panel-body">

                <%= render 'news_headlines' %>

            </div>
        </div>

    </div>


	<div class="col-md-3">
        <%= render 'polls/random_poll' %>
		<a class="twitter-timeline" href="https://twitter.com/bargameolympics" data-widget-id="376448960027574273">Tweets by @bargameolympics</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>



