<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
		</head>
	<body>

		<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<%= link_to "BGO", root_path, :class => "navbar-brand" %>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						<%= athlete_menu %>

						<!-- For now these items are hidden in production -->

						<% if Rails.env.development? then %>

							<li><a href="#">Stats/Results</a></li>
							<li><a href="#">Photos</a></li>
							<li><a href="#">Store</a></li>
						<% end %>

						<%= navbar_link "Tickets", tickets_path %>

						<% if Rails.env.development? then %>

							<li><a href="#">Rules</a></li>
							<li><a href="#">Community</a></li>
							<li><a href="#">More</a></li>

						<% end %>

					</ul>

					<% if Rails.env.development? then %>
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="./">Login or Sign Up</a></li>
						</ul>
					<% end %>

				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">

			<%= yield %>

		</div>

		<div class="container">
			<div class="row">
				<div class='col-md-12'>
					<div class="panel panel-default">
						<script type="text/javascript"><!--
							google_ad_client = "ca-pub-2802714891836755";
							/* BGO Footer */
							google_ad_slot = "5993507461";
							google_ad_width = 728;
							google_ad_height = 90;
							//-->
						</script>
						<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>
